#register {
  display: none;
}

.error {
  color: red;
  font-style: italic;
}

#logSpinner {
  display: none;
  max-height: 100px;
}

#regSpinner {
  display: none;
}

#logIn {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50px;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: #55dbcb;
  margin: 40px;
}

#connect {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 303px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border: 2px dashed #75e4b3;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

  input {
    width: 100%;
    height: 30px;
    background-color: #55dbcb;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    opacity: 0.6;
    padding: 10px 5px;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, #55dbcb, #75e4b3);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    }
  }
}

#create {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 12px 0;
  width: 305px;
  margin-top: 25px;
  border: 2px dashed #75e4b3;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  color: #55dbcb;

  #createBtn {
    margin: 0;
    background: none;
    border: none;
    text-transform: uppercase;
  }
}

#flexLog {
  max-height: 70px !important;
}

#personaSVG {
  margin: 0;
  position: fixed;
  left: 200px;
  bottom: 0;
}

#log_container {
  width: 100%;
  height: 100vh;
}
