<main>
  <!-- LOADING -->
  <div class="d-flex justify-content-center" *ngIf="!isLoaded">
    Loading...
  </div>

  <!-- MAIN -->
  <div id="main" *ngIf="isLoaded === true">
    <div id="cover_block">
      <ng-template #elseBlock
        ><img src="../../assets/default.gif"
      /></ng-template>
      <img *ngIf="cover; else elseBlock" src="{{ cover }}" alt="" />
    </div>
    <div id="info_block">
      <section>
        <p class="info_title">{{ title }}</p>
        <p class="info_content">Author: {{ author }}</p>
        <p class="info_content">Editor: {{ editor }}</p>
        <p class="info_content">Language: {{ lang }}</p>
        <p class="info_content">Format: {{ format }}</p>
        <p class="info_content {{ available }}validity" *ngIf="available">
          <span class="dispoSpan">Availability:</span> Available
        </p>
        <p class="info_content {{ available }}validity" *ngIf="!available">
          <span class="dispoSpan">Availability:</span> Unavailable
        </p>

        <p class="info_content" *ngIf="owner !== 'null'">
          Lent to: {{ owner }}
        </p>

        <p class="info_content">
          Rating:
          <nz-rate
            [(ngModel)]="bookTotalRate"
            nzAllowHalf
            nzDisabled
            [nzTooltips]="tooltips"
          ></nz-rate>
          <nz-badge
            class="ratePop"
            [nzStyle]="{ backgroundColor: '#2b165b' }"
            [nzCount]="book.reviews.totalCount"
            nzShowZero
          ></nz-badge>
        </p>
      </section>

      <section id="comment_block">
        <h3 class="info_title">Reviews</h3>
        <p class="info_content" *ngFor="let element of comments; let i = index">
          {{ commentAuthor[i] }} :
          {{ element }}
        </p>
      </section>

      <section>
        <!-- Toggle form to write a comment -->
        <button id="button_block" (click)="displayForm()" *ngIf="isEdit">
          Edit Review
        </button>
        <button id="button_block" (click)="displayForm()" *ngIf="!isEdit">
          Add Review
        </button>
        <button id="button_block" *ngIf="available" (click)="rentProcess()">
          Rent the book
        </button>
        <button id="button_block" *ngIf="!available" (click)="returnProcess()">
          Return the book
        </button>
        <div id="postComment" class="animated">
          <button (click)="displayForm()">X</button>
          <textarea
            *ngIf="!isEdit"
            id="comment"
            placeholder="Write your comment here"
            name="Comment review"
          ></textarea>
          <textarea
            *ngIf="isEdit"
            id="editComment"
            placeholder="{{ toEdit }}"
            name="Comment note"
          ></textarea>
          <nz-rate
            class="rateForm"
            [(ngModel)]="myRateVote"
            [nzTooltips]="tooltips"
          ></nz-rate>
          <button
            class="comment_button"
            *ngIf="!isEdit"
            (click)="commentProcess()"
          >
            Add
          </button>
          <button class="comment_button" *ngIf="isEdit" (click)="editProcess()">
            Edit
          </button>
        </div>
      </section>

      <a href="/library" id="close_block">
        Back to library
      </a>
    </div>
  </div>
</main>

<h1 id="report" class="animated">You do not rent this book.</h1>
