#postComment {
  display: none;
  width: 450px;
  height: auto;
  background-color: #55dbcb;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: 50;
  padding: 10px 25px;

  textarea {
    display: block;
    padding: 10px;
    color: black;
  }

  button {
    display: block;
    margin-top: 20px !important;
  }
}

button {
  padding: 10px 20px;
  margin-right: 20px;
  background: linear-gradient(to top, #55dbcb, #75e4b3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  }
}

#icon {
  margin-right: 15px;
}

#comment {
  margin-bottom: 15px;
  width: 400px;
  height: 200px;
}

.d-flex {
  height: 100vh;
  width: auto;
  position: relative;
  background-color: #fff;
  z-index: 50;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#cover_block {
  width: 25%;
  height: auto;
  display: inline-block;

  img {
    width: 100%;
    height: auto;
    padding: 50px;
  }
}

#info_block {
  width: 75%;
  height: auto;
  padding: 50px;
  float: right;
}

.info_title {
  font-size: 30px;
  font-family: sans-serif;
  color: black;
  padding-right: 100px;
}

.info_content {
  font-size: 16px;
  font-family: sans-serif;
}

section {
  margin-bottom: 35px;
}

#blob_block {
  position: fixed;
  right: 0;
  bottom: 0;
}

#close_block {
  position: absolute;
  top: 60px;
  right: 80px;
  font-size: 16px;
}

.truevalidity {
  color: #00b900 !important;
}

.falsevalidity {
  color: red !important;
}
.dispoSpan {
  color: rgba(0, 0, 0, 0.65) !important;
  font-size: 18px;
  font-family: sans-serif;
}
#report {
  display: none;
  position: fixed;
  top: 90%;
  text-align: center;
  width: 100%;
}
.ratePop {
  margin-left: 3px;
  margin-top: -20px;
}
